---
layout: main
---
<h1>Personal Projects</h1>
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

<!---h1>Achievements</h1>
{% for achievement in paginator.achievements %}
<article class="achievement">
  {% if achievement.img %}
    <a class="achievement-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : achievement.img}})" href="{{achievement.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="achievement-content">
    <h2 class="achievement-title"><a href="{{achievement.url | prepend: site.baseurl}}">{{achievement.title}}</a></h2>
    <p>{{ achievement.content | strip_html | truncatewords: 15 }}</p>
    <span class="achievement-date">{{achievement.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="achievement-words">{% capture words %}{{ achievement.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}
--->
<div>
<h1>Newsletters I follow</h1>
</div>
  <div>
      <span>
          <a href="https://nvidianews.nvidia.com/" target="_blank">
              <img src="https://www.nvidia.com/en-us/about-nvidia/legal-info/logo-brand-usage/_jcr_content/root/responsivegrid/nv_container_392921705/nv_container/nv_image.coreimg.100.1290.png/1703060329053/nvidia-logo-vert.png" alt="nvidia" width="200" height="100">
          </a>
        </span>
      <span>
          <a href="https://newsletter2.com" target="_blank">
              <img src="https://example.com/newsletter2.jpg" alt="Newsletter 2" width="200" height="100">
          </a>
        </span>
      <span>
          <a href="https://newsletter3.com" target="_blank">
              <img src="https://example.com/newsletter3.jpg" alt="Newsletter 3" width="200" height="100">
          </a>
        </span>
      </div>
</div>

{% include pagination.html %}