---
layout: main
---
<h1>Personal Projects</h1>
{% for post in paginator.posts %}
<article class="post">
  {% if post.img %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : post.img}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h2>
    <p>{{ post.content | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{post.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="post-words">{% capture words %}{{ post.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

<h1>Achievements</h1>
{% for achievement in paginator.achievements %}
<article class="achievement">
  {% if achievement.img %}
    <a class="achievement-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : achievement.img}})" href="{{achievement.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="achievement-content">
    <h2 class="achievement-title"><a href="{{achievement.url | prepend: site.baseurl}}">{{achievement.title}}</a></h2>
    <p>{{ achievement.content | strip_html | truncatewords: 15 }}</p>
    <span class="achievement-date">{{achievement.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;—&nbsp;</span>
    <span class="achievement-words">{% capture words %}{{ achievement.content | number_of_words }}{% endcapture %}{% unless words contains "-" %}{{ words | plus: 250 | divided_by: 250 | append: " minute read" }}{% endunless %}</span>
  </div>
</article>
{% endfor %}

{% include pagination.html %}
